{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-async-generators",
    "@babel/plugin-transform-async-to-generator",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "lib": "./src/lib"
        }
      }
    ]
  ],
  "sourceMaps": "inline",
  "retainLines": true,
  "env": {
    "development": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
